

   body, html{
    
      
        animation: colorChange 3s infinite alternate;

    }

@keyframes colorChange{

    0%{ background-color: rgb(212, 45, 16);}
    100%{background-color: rgb(223, 255, 43);}
}




html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(0, 0, 0);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 15px double rgb(0, 0, 0);
}

h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background: -webkit-linear-gradient(red,purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}